body{
  background-color: aliceblue;
}
.App {
  text-align: center;
  overflow: hidden;
}

.progress {
  position: relative;
  margin: 2px 2px 2px 2px;
  width: 60px;
  height: 60px;
}

#progress-circle {
  width: 80%;
  height: 80%;
}

.circle-bg,
.circle {
  fill: none;
  stroke-width: 3.8;
}

.circle-bg {
  stroke: #eee;
}

.circle {
  stroke: #4caf50;
  stroke-linecap: round;
}

#progress-percent {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(14, 11, 82);
}

#student-name{color:white;}

.edit-mode-toggle {
  cursor: pointer;
  color: white;
}

.toggle-label{margin-right: 3px;}

.add-lesson {
  cursor: pointer;
  text-align: center;
  margin-bottom: 2rem;
}

.timestamp{
  font-size: 9px;
  background-color: rgb(43, 58, 58);
  padding: 2px;
  border-radius: 5px;
  color: white;
}

#lessons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* For horizontal screens or wider screens */
@media (min-width: 768px) {
  #lessons {
    grid-template-columns: repeat(2, 1fr);
  }
}
